[submodule "third_party/cpplint"]
	path = third_party/cpplint
	url = https://github.com/cpplint/cpplint
	branch = master
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/abseil/googletest.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git