# IDE related #
###############
.idea/
.vscode/
compile_commands.json

# Compile related #
###################
build/
cmake-build-debug/
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/
*.cbp

# doc related #
###############
docs/doxygen/
